Repository graknlabs/grakn, changes with the owners that .github/CODEOWNERS names for each.
All owners: @haikalpribadi, @lolski, @vmax, @marco-scoppetta

.github/CODEOWNERS:

/api/       @haikalpribadi
/bin/       @lolski
/concept/   @haikalpribadi
/config/    @lolski         @vmax
/console/   @haikalpribadi
/daemon/    @haikalpribadi  @lolski
/protocol/  @haikalpribadi  @marco-scoppetta
/test/      @lolski

/dependencies/graknlabs/  @haikalpribadi
/dependencies/maven/      @haikalpribadi @marco-scoppetta @lolski

Replace previous usages of Sorted with Sorted.Forwardable
  common/iterator/AbstractFunctionalIterator.java
  common/iterator/FunctionalIterator.java
  common/iterator/Iterators.java
  graph/adjacency/ThingAdjacency.java
  graph/adjacency/impl/ThingAdjacencyImpl.java
  graph/common/Storage.java
  rocks/RocksIterator.java
  rocks/RocksStorage.java
  traversal/iterator/RelationIterator.java
Owners: none

Create optimised and non-optimised Thing edge encodings
  common/iterator/MappedIterator.java
  concept/thing/impl/AttributeImpl.java
  concept/thing/impl/RelationImpl.java
  concept/thing/impl/RoleImpl.java
  concept/thing/impl/ThingImpl.java
  graph/adjacency/ThingAdjacency.java
  graph/adjacency/impl/ThingAdjacencyImpl.java
  graph/common/Encoding.java
  graph/edge/impl/ThingEdgeImpl.java
  graph/iid/InfixIID.java
  traversal/Traversal.java
  traversal/iterator/RelationIterator.java
  traversal/planner/PlannerEdge.java
  traversal/procedure/ProcedureEdge.java
  traversal/structure/StructureEdge.java
Owners: @haikalpribadi

Revert split api of edgeHas/edgePlaying/edgeRelating/edgeRolePlayer
  common/iterator/BaseIterator.java
  concept/thing/impl/AttributeImpl.java
  concept/thing/impl/RelationImpl.java
  concept/thing/impl/ThingImpl.java
  graph/adjacency/ThingAdjacency.java
  graph/adjacency/impl/ThingAdjacencyImpl.java
  graph/edge/impl/ThingEdgeImpl.java
  rocks/RocksIterator.java
  traversal/iterator/RelationIterator.java
  traversal/procedure/ProcedureEdge.java
Owners: @haikalpribadi

cleanup
  common/iterator/AbstractFunctionalIterator.java
  common/iterator/BaseIterator.java
  common/iterator/DistinctIterator.java
  common/iterator/FilteredIterator.java
  common/iterator/FinaliseHandledIterator.java
  common/iterator/FunctionalIterator.java
  common/iterator/Iterators.java
  common/iterator/MappedIterator.java
  common/iterator/MergeMappedIterator.java
  concept/thing/impl/RelationImpl.java
  concept/thing/impl/ThingImpl.java
  graph/ThingGraph.java
  graph/adjacency/ThingAdjacency.java
  graph/adjacency/impl/ThingAdjacencyImpl.java
  graph/common/KeyGenerator.java
  migrator/DataImporter.java
  rocks/RocksIterator.java
Owners: @haikalpribadi

WIP using rocksdb as id mapping store
  migrator/DataImporter.java
  test/integration/QueryTest.java
Owners: @lolski

use new valid exported test file
  migrator/BUILD
  migrator/DataExporter.java
  migrator/DataImporter.java
  migrator/MigratorService.java
  test/integration/migrator/schema.gql
Owners: @lolski

cleanup
  common/test/logback-test.xml
  concept/thing/impl/ThingImpl.java
  migrator/DataImporter.java
  migrator/MigratorClient.java
Owners: @haikalpribadi

fix checkstyle
  test/integration/migrator/BUILD
  test/integration/migrator/MigratorTest.java
  test/integration/migrator/schema.tql
Owners: @lolski

refactor Importer
  migrator/DataImporter.java
Owners: none

cleanup
  common/iterator/AbstractFunctionalIterator.java
  concept/thing/impl/RoleImpl.java
  graph/adjacency/impl/ThingAdjacencyImpl.java
  rocks/RocksIterator.java
  traversal/iterator/RelationIterator.java
Owners: @haikalpribadi

cleanup
  migrator/DataImporter.java
  test/integration/migrator/schema.tql
Owners: @lolski

reorganise RelationIterator
  traversal/iterator/RelationIterator.java
Owners: none

Encoding.Thing.Edge.Data/Optimised are two enums instead of classes
  graph/adjacency/impl/ThingAdjacencyImpl.java
  graph/common/Encoding.java
Owners: none

cleanup encoding enum split
  graph/common/Encoding.java
Owners: none

rename Edge.Thing.Data to Edge.Thing.Base
  concept/thing/impl/AttributeImpl.java
  concept/thing/impl/RelationImpl.java
  concept/thing/impl/RoleImpl.java
  concept/thing/impl/ThingImpl.java
  graph/adjacency/ThingAdjacency.java
  graph/adjacency/impl/ThingAdjacencyImpl.java
  graph/common/Encoding.java
  graph/edge/impl/ThingEdgeImpl.java
  traversal/Traversal.java
  traversal/planner/PlannerEdge.java
  traversal/procedure/ProcedureEdge.java
Owners: @haikalpribadi

rename ThingEdgeImpl.Virtual to Target
  graph/adjacency/impl/ThingAdjacencyImpl.java
  graph/common/Encoding.java
  graph/common/Storage.java
  graph/edge/impl/ThingEdgeImpl.java
  traversal/iterator/RelationIterator.java
Owners: none

remove merge() varargs in Sorted iterator
  common/iterator/AbstractFunctionalIterator.java
  common/iterator/BaseIterator.java
  common/iterator/DistinctIterator.java
  common/iterator/FilteredIterator.java
  common/iterator/FinaliseHandledIterator.java
  common/iterator/FunctionalIterator.java
  common/iterator/MappedIterator.java
  common/iterator/MergeMappedIterator.java
  graph/ThingGraph.java
  graph/edge/impl/ThingEdgeImpl.java
  graph/iid/EdgeIID.java
  graph/vertex/impl/ThingVertexImpl.java
  rocks/RocksIterator.java
Owners: none

simplify ThingAdjacencyImpl.SortedIteratorBuilder
  graph/ThingGraph.java
  graph/TypeGraph.java
  graph/adjacency/ThingAdjacency.java
  graph/adjacency/impl/ThingAdjacencyImpl.java
  graph/adjacency/impl/TypeAdjacencyImpl.java
  graph/common/KeyGenerator.java
Owners: none

reorder and rename RocksIterator apis
  graph/adjacency/impl/ThingAdjacencyImpl.java
  rocks/RocksIterator.java
Owners: none

cleanup imports
  common/iterator/BaseIterator.java
  common/iterator/DistinctIterator.java
  common/iterator/FilteredIterator.java
  common/iterator/FinaliseHandledIterator.java
  common/iterator/MappedIterator.java
  common/iterator/MergeMappedIterator.java
  graph/ThingGraph.java
  graph/adjacency/impl/TypeAdjacencyImpl.java
  graph/common/Encoding.java
  logic/resolvable/Negated.java
  query/Deleter.java
  query/Updater.java
  reasoner/ReasonerProducer.java
  rocks/RocksDatabase.java
  rocks/RocksSession.java
  rocks/RocksTypeDB.java
  test/behaviour/reasoner/verification/CompletenessVerifier.java
  traversal/TraversalEngine.java
  traversal/procedure/GraphProcedure.java
Owners: @lolski

Check for exhausted source is incorrect as it prevents the requires reiteration mechanism from triggering from concludables.
  reasoner/resolution/framework/AnswerCache.java
Owners: none

address first comments
  migrator/BUILD
  migrator/Migrator.java
  migrator/MigratorClient.java
  migrator/MigratorService.java
  migrator/migrator.proto
  migrator/worker/DataExporter.java
  migrator/worker/DataImporter.java
  migrator/worker/data.proto
  server/TypeDBServer.java
  test/integration/migrator/MigratorTest.java
Owners: @lolski

cleanup
  traversal/Traversal.java
  traversal/TraversalEngine.java
  traversal/iterator/RelationIterator.java
  traversal/procedure/ProcedureEdge.java
  traversal/procedure/ProcedureVertex.java
Owners: none

cleanup
  traversal/Traversal.java
  traversal/iterator/RelationIterator.java
  traversal/procedure/ProcedureEdge.java
  traversal/procedure/ProcedureVertex.java
Owners: none

simplify matchRelation
  logic/Rule.java
  traversal/Traversal.java
Owners: none

add hasNext catch
  traversal/iterator/RelationIterator.java
Owners: none

Disable subsumption for now. Make bounds less redundant.
  reasoner/resolution/resolver/BoundRetrievableResolver.java
  reasoner/resolution/resolver/RetrievableResolver.java
Owners: none

Make further use of the bounds.
  reasoner/resolution/resolver/BoundRetrievableResolver.java
Owners: none

delete interface
  migrator/Migrator.java
  migrator/worker/DataExporter.java
  migrator/worker/DataImporter.java
Owners: none

cleanup
  migrator/MigratorService.java
Owners: none

WIP include comments as TODOs
  migrator/BUILD
  migrator/MigratorClient.java
  migrator/MigratorService.java
  migrator/migrator.proto
  migrator/worker/DataExporter.java
  migrator/worker/DataImporter.java
  migrator/worker/data.proto
  test/integration/migrator/MigratorTest.java
Owners: @lolski

Introduce RelationTraversal and GraphTraversal types
  logic/Rule.java
  logic/tool/TypeResolver.java
  pattern/Conjunction.java
  pattern/constraint/Constraint.java
  pattern/constraint/thing/HasConstraint.java
  pattern/constraint/thing/IIDConstraint.java
  pattern/constraint/thing/IsConstraint.java
  pattern/constraint/thing/IsaConstraint.java
  pattern/constraint/thing/RelationConstraint.java
  pattern/constraint/thing/ValueConstraint.java
  pattern/constraint/type/AbstractConstraint.java
  pattern/constraint/type/IsConstraint.java
  pattern/constraint/type/LabelConstraint.java
  pattern/constraint/type/OwnsConstraint.java
  pattern/constraint/type/PlaysConstraint.java
  pattern/constraint/type/RegexConstraint.java
  pattern/constraint/type/RelatesConstraint.java
  pattern/constraint/type/SubConstraint.java
  pattern/constraint/type/ValueTypeConstraint.java
  pattern/variable/ThingVariable.java
  pattern/variable/TypeVariable.java
  pattern/variable/Variable.java
  reasoner/resolution/framework/Resolver.java
  reasoner/resolution/resolver/ConclusionResolver.java
  test/integration/traversal/TraversalTest.java
  traversal/GraphTraversal.java
  traversal/RelationTraversal.java
  traversal/Traversal.java
  traversal/TraversalEngine.java
  traversal/iterator/GraphIterator.java
  traversal/iterator/RelationIterator.java
  traversal/predicate/Predicate.java
  traversal/predicate/PredicateArgument.java
  traversal/predicate/PredicateOperator.java
  traversal/procedure/GraphProcedure.java
  traversal/procedure/ProcedureEdge.java
  traversal/procedure/ProcedureVertex.java
  traversal/procedure/VertexProcedure.java
Owners: @lolski

WIP
  reasoner/ReasonerProducer.java
  reasoner/resolution/ResolverRegistry.java
  reasoner/resolution/framework/AnswerCache.java
  reasoner/resolution/framework/ReiterationQuery.java
  reasoner/resolution/resolver/BoundConcludableResolver.java
  reasoner/resolution/resolver/ConcludableResolver.java
  reasoner/resolution/resolver/RetrievableResolver.java
Owners: none

WIP
  logic/Rule.java
  traversal/iterator/RelationIterator.java
Owners: none

fix iterator lost argument
  common/iterator/AbstractFunctionalIterator.java
  common/iterator/Iterators.java
Owners: none

Created a logical bug that caused stalling for the next iteration.
  reasoner/resolution/resolver/ConcludableResolver.java
Owners: none

RelationIterator can almost handle multiple types
  logic/Rule.java
  test/behaviour/reasoner/verification/Materialiser.java
  traversal/iterator/RelationIterator.java
Owners: @lolski

fix ignored data
  .gitignore
  migrator/data/DataExporter.java
  migrator/data/DataImporter.java
  migrator/data/data.proto
Owners: none

RelationIterator can handle multiple roles and relation types
  traversal/iterator/RelationIterator.java
Owners: none

tighten up RelationTraversal API to only allow star shaped relations
  logic/Rule.java
  traversal/GraphTraversal.java
  traversal/RelationTraversal.java
  traversal/Traversal.java
  traversal/TraversalEngine.java
Owners: none
