Repository graknlabs/grakn, changes with the owners that .github/CODEOWNERS names for each.
All owners: @haikalpribadi, @lolski, @vmax, @marco-scoppetta

.github/CODEOWNERS:

/api/       @haikalpribadi
/bin/       @lolski
/concept/   @haikalpribadi
/config/    @lolski         @vmax
/console/   @haikalpribadi
/daemon/    @haikalpribadi  @lolski
/protocol/  @haikalpribadi  @marco-scoppetta
/test/      @lolski

/dependencies/graknlabs/  @haikalpribadi
/dependencies/maven/      @haikalpribadi @marco-scoppetta @lolski

WIP start implementing sorted iterators
  common/iterator/AbstractFunctionalIterator.java
  common/iterator/BaseIterator.java
  common/iterator/DistinctIterator.java
  common/iterator/FilteredIterator.java
  common/iterator/FlatMergeSortedIterator.java
  common/iterator/FunctionalIterator.java
  common/iterator/Iterators.java
  common/seeker/Seeker.java
  concept/thing/impl/AttributeImpl.java
  concept/thing/impl/RelationImpl.java
  concept/thing/impl/ThingImpl.java
  graph/adjacency/ThingAdjacency.java
  graph/adjacency/impl/ThingAdjacencyImpl.java
  graph/iid/IID.java
  graph/vertex/ThingVertex.java
  graph/vertex/impl/ThingVertexImpl.java
  rocks/RocksIterator.java
  traversal/Traversal.java
  traversal/TraversalEngine.java
  traversal/iterator/RelationIterator.java
  traversal/procedure/ProcedureEdge.java
Owners: @haikalpribadi

implement BaseIterator.Sorted from NavigableSet
  common/collection/ByteArray.java
  common/collection/Bytes.java
  common/iterator/AbstractFunctionalIterator.java
  common/iterator/BaseIterator.java
  common/iterator/FinaliseHandledIterator.java
  common/iterator/FunctionalIterator.java
  common/iterator/Iterators.java
  graph/ThingGraph.java
  graph/TypeGraph.java
  graph/adjacency/ThingAdjacency.java
  graph/adjacency/impl/ThingAdjacencyImpl.java
  graph/adjacency/impl/TypeAdjacencyImpl.java
  graph/common/KeyGenerator.java
  graph/common/Storage.java
  graph/edge/TypeEdge.java
  graph/edge/impl/ThingEdgeImpl.java
  graph/edge/impl/TypeEdgeImpl.java
  graph/iid/EdgeIID.java
  graph/iid/IID.java
  graph/iid/InfixIID.java
  graph/iid/StructureIID.java
  graph/structure/RuleStructure.java
  graph/structure/impl/RuleStructureImpl.java
  graph/vertex/ThingVertex.java
  graph/vertex/impl/ThingVertexImpl.java
  graph/vertex/impl/VertexImpl.java
  rocks/RocksIterator.java
  rocks/RocksStorage.java
  server/common/ResponseBuilder.java
  traversal/iterator/RelationIterator.java
  traversal/procedure/ProcedureEdge.java
Owners: none

Implement discussed comparators and sorted iterator interface
  common/collection/Bytes.java
  common/iterator/AbstractFunctionalIterator.java
  common/iterator/BaseIterator.java
  common/iterator/DistinctIterator.java
  common/iterator/FilteredIterator.java
  common/iterator/FlatMergeSortedIterator.java
  common/iterator/FunctionalIterator.java
  common/iterator/Iterators.java
  common/iterator/MappedIterator.java
  common/seeker/Seeker.java
  graph/adjacency/ThingAdjacency.java
  graph/adjacency/impl/ThingAdjacencyImpl.java
  graph/common/Storage.java
  graph/edge/ThingEdge.java
  graph/edge/impl/ThingEdgeImpl.java
  rocks/RocksIterator.java
  rocks/RocksStorage.java
Owners: none

EdgeSortable implement hashcode and equals
  common/iterator/AbstractFunctionalIterator.java
  common/iterator/DistinctIterator.java
  common/iterator/FilteredIterator.java
  common/iterator/FinaliseHandledIterator.java
  common/iterator/FlatMergeSortedIterator.java
  common/iterator/FunctionalIterator.java
  common/iterator/Iterators.java
  common/iterator/MappedIterator.java
  graph/ThingGraph.java
  graph/adjacency/ThingAdjacency.java
  graph/adjacency/impl/ThingAdjacencyImpl.java
  graph/adjacency/impl/TypeAdjacencyImpl.java
  graph/edge/ThingEdge.java
  graph/edge/TypeEdge.java
  graph/edge/impl/ThingEdgeImpl.java
  graph/edge/impl/TypeEdgeImpl.java
  graph/iid/EdgeIID.java
  graph/iid/StructureIID.java
  graph/structure/RuleStructure.java
  graph/structure/impl/RuleStructureImpl.java
  graph/vertex/ThingVertex.java
  graph/vertex/impl/ThingVertexImpl.java
  graph/vertex/impl/VertexImpl.java
  query/Undefiner.java
  reasoner/Reasoner.java
  reasoner/resolution/framework/Request.java
  rocks/RocksStorage.java
  traversal/iterator/RelationIterator.java
  traversal/procedure/ProcedureEdge.java
Owners: none

make distinct() in ThingGraph.getReadable() efficient
  common/iterator/BaseIterator.java
  common/iterator/FlatMergeSortedIterator.java
  common/iterator/Iterators.java
  graph/ThingGraph.java
  graph/edge/TypeEdge.java
  graph/edge/impl/ThingEdgeImpl.java
  graph/edge/impl/TypeEdgeImpl.java
  graph/iid/IID.java
  reasoner/Reasoner.java
Owners: none

parent a35c269d558e645c21c5f532db53e46e08c79c19 author joshua <joshuasend1@gmail.com> 1625158655 +0100 committer joshua <joshuasend1@gmail.com> 1625675337 +0100
  common/iterator/DistinctIterator.java
  common/iterator/FilteredIterator.java
  common/iterator/FinaliseHandledIterator.java
  common/iterator/FlatMergeSortedIterator.java
  common/iterator/MappedIterator.java
  graph/edge/impl/ThingEdgeImpl.java
  graph/iid/StructureIID.java
  graph/vertex/impl/ThingVertexImpl.java
  logic/Rule.java
  rocks/RocksIterator.java
  traversal/Traversal.java
  traversal/iterator/RelationIterator.java
Owners: none

All sorted iterators validate no backward seeks are allowed
  common/collection/ByteArray.java
  common/iterator/AbstractFunctionalIterator.java
  common/iterator/BaseIterator.java
  common/iterator/FilteredIterator.java
  common/iterator/FinaliseHandledIterator.java
  common/iterator/FlatMergeSortedIterator.java
  common/iterator/MappedIterator.java
  graph/adjacency/ThingAdjacency.java
  graph/adjacency/impl/ThingAdjacencyImpl.java
  rocks/RocksIterator.java
  traversal/iterator/RelationIterator.java
Owners: none

try printing new plans out
  traversal/planner/GraphPlanner.java
Owners: none

LOG not print
  traversal/planner/GraphPlanner.java
Owners: none

use guava faster bytewise comparator
  common/BUILD
  common/collection/ByteArray.java
  dependencies/maven/artifacts.bzl
Owners: @haikalpribadi, @marco-scoppetta, @lolski

cleanup
  common/collection/Bytes.java
  common/iterator/FunctionalIterator.java
  common/iterator/Iterators.java
  rocks/RocksIterator.java
  traversal/planner/GraphPlanner.java
Owners: none

correctly cleanup resources, only record actual missing owners or players
  migrator/DataExporter.java
  migrator/DataImporter.java
  migrator/Migrator.java
  migrator/MigratorService.java
Owners: none

rename vars
  migrator/DataImporter.java
Owners: none

WIP multithreaded import
  migrator/BUILD
  migrator/DataExporter.java
  migrator/DataImporter.java
  migrator/MigratorClient.java
  migrator/MigratorService.java
  migrator/proto/data.proto
  migrator/proto/migrator.proto
Owners: none

multithreaded data import
  common/collection/ByteArray.java
  common/collection/Bytes.java
  common/exception/ErrorMessage.java
  common/test/logback-test.xml
  migrator/DataExporter.java
  migrator/DataImporter.java
  migrator/MigratorService.java
  rocks/RocksDatabase.java
Owners: none

implement buffered to persisted IIDs remapping
  graph/ThingGraph.java
  migrator/BUILD
  migrator/DataImporter.java
  rocks/RocksTransaction.java
  test/integration/migrator/MigratorTest.java
Owners: @lolski

enable skipped relations
  migrator/DataImporter.java
Owners: none

re-create wiring of migration client
  graph/ThingGraph.java
  migrator/MigratorClient.java
  migrator/MigratorService.java
  server/TypeDBServer.java
Owners: none

move ByteComparable to ComparableByte class
  common/collection/ByteArray.java
  common/collection/Bytes.java
  common/collection/ComparableBytes.java
  graph/ThingGraph.java
  graph/common/Storage.java
  rocks/RocksIterator.java
  rocks/RocksStorage.java
Owners: none

WIP debugging
  common/exception/ErrorMessage.java
  concept/thing/impl/ThingImpl.java
  migrator/DataImporter.java
  migrator/MigratorClient.java
  migrator/proto/migrator.proto
Owners: @haikalpribadi

RocksIterator always returns KeyValue
  common/collection/ByteArray.java
  common/collection/KeyValue.java
  graph/ThingGraph.java
  graph/TypeGraph.java
  graph/adjacency/impl/ThingAdjacencyImpl.java
  graph/adjacency/impl/TypeAdjacencyImpl.java
  graph/common/KeyGenerator.java
  graph/common/Storage.java
  graph/structure/impl/RuleStructureImpl.java
  graph/vertex/impl/TypeVertexImpl.java
  rocks/RocksIterator.java
  rocks/RocksStorage.java
Owners: none

fix build error
  rocks/RocksIterator.java
  rocks/RocksStorage.java
Owners: none

refactor ByteArray method names
  common/collection/ByteArray.java
  graph/common/KeyGenerator.java
  graph/iid/InfixIID.java
  rocks/RocksIterator.java
  rocks/RocksStorage.java
  server/common/ResponseBuilder.java
Owners: none

cleanup comments
  common/collection/ByteArray.java
  common/collection/Bytes.java
Owners: none

rename FlatMerge to MergeMap
  common/iterator/AbstractFunctionalIterator.java
  common/iterator/BaseIterator.java
  common/iterator/DistinctIterator.java
  common/iterator/FilteredIterator.java
  common/iterator/FinaliseHandledIterator.java
  common/iterator/FlatMappedIterator.java
  common/iterator/FunctionalIterator.java
  common/iterator/Iterators.java
  common/iterator/MappedIterator.java
  common/iterator/MergeMapIterator.java
  common/iterator/SynchronisedIterator.java
  common/poller/AbstractPoller.java
  common/poller/FlatMappedPoller.java
  common/poller/Poller.java
  graph/adjacency/impl/ThingAdjacencyImpl.java
  rocks/RocksIterator.java
  traversal/iterator/RelationIterator.java
Owners: none

implement reverse mapping assertion and rename to past tense iterator
  common/iterator/AbstractFunctionalIterator.java
  common/iterator/MappedIterator.java
  common/iterator/MergeMappedIterator.java
Owners: none

remove newline and add parameter
  common/iterator/FunctionalIterator.java
  common/iterator/Iterators.java
Owners: none

make constructors non-public
  common/iterator/BaseIterator.java
  common/iterator/DistinctIterator.java
  common/iterator/FilteredIterator.java
  common/iterator/FinaliseHandledIterator.java
  common/iterator/FlatMappedIterator.java
  common/iterator/FunctionalIterator.java
  common/iterator/MappedIterator.java
  common/iterator/MergeMappedIterator.java
Owners: none

Add KeyValue equality and hide public constructors of iterators
  common/collection/KeyValue.java
  common/iterator/BaseIterator.java
  common/iterator/ConsumeHandledIterator.java
  common/iterator/DistinctIterator.java
  common/iterator/ErrorHandledIterator.java
  common/iterator/FinaliseHandledIterator.java
  common/iterator/LimitedIterator.java
  common/iterator/OffsetIterator.java
  common/iterator/PermutationIterator.java
Owners: none

inline inner classes
  graph/adjacency/ThingAdjacency.java
Owners: none

Add assertion
  migrator/DataImporter.java
Owners: none

rename edge builders
  graph/adjacency/ThingAdjacency.java
  graph/adjacency/impl/ThingAdjacencyImpl.java
Owners: none

use reader executor and reset count correctly
  migrator/DataImporter.java
Owners: none

fix adjacency build
  graph/adjacency/ThingAdjacency.java
  graph/adjacency/impl/ThingAdjacencyImpl.java
Owners: none

reduce batch size and add assertion
  migrator/DataImporter.java
Owners: none

reformat printing
  migrator/MigratorClient.java
Owners: none

wip stash decisions
  common/iterator/FunctionalIterator.java
  concept/thing/impl/RoleImpl.java
  graph/adjacency/ThingAdjacency.java
  graph/adjacency/impl/ThingAdjacencyImpl.java
  graph/common/Encoding.java
  migrator/DataImporter.java
Owners: @haikalpribadi

use toHexString instead of decodeString to ensure IIDs are not merged in export
  common/exception/ErrorMessage.java
  migrator/DataExporter.java
  migrator/DataImporter.java
  migrator/MigratorClient.java
Owners: none

cleanup error message
  common/exception/ErrorMessage.java
  migrator/DataImporter.java
  migrator/MigratorClient.java
  migrator/MigratorService.java
Owners: none

Create Sorted.Forwardable
  common/iterator/AbstractFunctionalIterator.java
  common/iterator/BaseIterator.java
  common/iterator/DistinctIterator.java
  common/iterator/FilteredIterator.java
  common/iterator/FinaliseHandledIterator.java
  common/iterator/FunctionalIterator.java
  common/iterator/Iterators.java
  common/iterator/MappedIterator.java
  common/iterator/MergeMappedIterator.java
  graph/ThingGraph.java
  graph/adjacency/ThingAdjacency.java
  graph/adjacency/impl/ThingAdjacencyImpl.java
  rocks/RocksIterator.java
Owners: none
